body, html {
	overflow: hidden;
	margin: 0;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: #93E7FB;
	background: rgb(255,48,48);
	background: linear-gradient(180deg, rgba(255,48,48,1) 1%, rgba(204,38,38,1) 19%, rgba(154,205,50,1) 98%);
}

p {
	margin-top: 5%;
	position: relative;
	text-align: center;
}

.message {
	position: relative;
	text-align: center;
}

.sky {
	height: 100%;
	color: #FFF;
	display: block;
}